@media(min-width: 820px) {
    .mobile-header {
        display: none;
    }
    .header {
        display: flex;
        background: #fff;
        padding: 0 40px;
    }
}

@media(max-width: 820px) {
    .mobile-header {
        display: block;
    }

    .header {
        display: none;
    }
}

.active-item {
    border-bottom: 2px solid #F85930;
}

// .dropdown {
//     width: 136px;
//     height: 100px;
//     background: #f8f9f7;
//     position: absolute;
//     top: 40px;
//     right: 0;
//     z-index: 1;
//     ion-item {
//         --ion-background-color: #f8f9f7;
//     }
//     ion-item:hover {
//         --ion-item-color: var(--ion-color-warning);
//     }
// }
// .dropdownbook {
//     width: 135px;
//     height: 100px;
//     background: #f8f9f7;
//     position: absolute;
//     top: 40px;
//     right: 115px;
//     z-index: 1;
//     ion-item {
//         --ion-background-color: #f8f9f7;
//     }
//     ion-item:hover {
//         --ion-item-color: var(--ion-color-warning);
//     }
// }
// .dropdown-btn.active {
//     border-bottom: 2px solid var(--ion-color-warning);
// }
.header {
    background-color: transparent;
    position: relative;
    
    // background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    // filter: blur(1px);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the opacity and color as needed */
    
}

ion-button {
    --color: #fff;
}

.bookbtn {
    --color: #5D5A88;
    --background: #fff;
}

.loginbtn {
    --color: #fff;
    --background: #F85930;
}

.login {
    ion-content {
      --background: red;
    }
    
    .login-modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
    }
  }