@media(min-width: 820px) {
    .mobile-header {
        display: none;
    }
    .header {
        display: flex;
        background: #fff;
        padding: 0 40px;
    }
}

@media(max-width: 820px) {
    .mobile-header {
        display: block;
    }

    .header {
        display: none;
    }
}

.active-item {
    border-bottom: 2px solid var(--ion-color-warning);
}

// .dropdown {
//     width: 136px;
//     height: 100px;
//     background: #f8f9f7;
//     position: absolute;
//     top: 40px;
//     right: 0;
//     z-index: 1;
//     ion-item {
//         --ion-background-color: #f8f9f7;
//     }
//     ion-item:hover {
//         --ion-item-color: var(--ion-color-warning);
//     }
// }
// .dropdownbook {
//     width: 135px;
//     height: 100px;
//     background: #f8f9f7;
//     position: absolute;
//     top: 40px;
//     right: 115px;
//     z-index: 1;
//     ion-item {
//         --ion-background-color: #f8f9f7;
//     }
//     ion-item:hover {
//         --ion-item-color: var(--ion-color-warning);
//     }
// }
// .dropdown-btn.active {
//     border-bottom: 2px solid var(--ion-color-warning);
// }
.header {
    background-color: #f8f9f7;
}

.login {
    ion-content {
      --background: red;
    }
    
    .login-modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
    }
  }
  