.active-item {
    color: var(--ion-color-primary);
    font-weight: 500;
    ion-item {
        color: var(--ion-color-primary);
    }
}

@media(min-width:820px) {
    app-header-login {
        position: relative;
        top: 0;
        z-index: 1;
    }
}

@media(max-width: 820px) {
    app-header-login {
        position: relative;
        top: 0;
        z-index: 1;
    }
}