<ion-content>
  <div class="container ion-padding">
    <div class="login-form">

      <div id="logo">
        <img src="../../assets/swp.jpg" alt="swp-logo">
      </div>

      <h1>Login</h1> <br>

      <ion-input type="email" placeholder="Your email" label="Email" labelPlacement="floating" fill="outline" errorText="Invalid email" ngModel email></ion-input>
      <ion-input type="password" placeholder="Your password" label="Password" labelPlacement="floating" fill="outline"></ion-input>

      <ion-checkbox labelPlacement="end">Remember Password</ion-checkbox>
      <a routerlink="#" class="ion-float-right">Forgot Password</a>

      <ion-button expand="block" color="primary" routerLink="/menulogin/home">Login</ion-button>

      <div class="or-container">
        <div class="or-line"></div>
        <div class="or-text">or continue with</div>
        <div class="or-line"></div>
      </div>
      
      <ion-button expand="block" color="danger"><ion-icon name="logo-google"></ion-icon>Google</ion-button>

      <p id="signup">Doesn't have an account? <a [routerLink]="['/signup']">Signup</a></p>

    </div>
  </div>
</ion-content>
