*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
ion-content {
    --background: url("../../assets/login-cover.png")no-repeat center / cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#logo img{
    width: 130px;
    height: 80px;
}
.login-form {
    background-color: #fff;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
ion-input {
    margin-bottom: 20px;
    font-size: 0.8rem;
}
h1, p {
text-align: center;
}

ion-checkbox, p, a, .or-text{
font-size: 0.7rem;
}

.or-container {
display: flex;
align-items: center;
justify-content: center;
}

.or-line {
flex-grow: 1;
height: 1px;
background-color: gray;
}

.or-text {
padding: 0 10px;
color: gray;
}

ion-button {
margin: 40px 0;
height: 40px;
}

ion-icon {
    padding-right: 10px;
}
a {
    cursor: pointer;
}