<ion-content [fullscreen]="true">
    <ion-grid class="ion-padding" fixed>

      <ion-row>
        <ion-col size="12"></ion-col>
      </ion-row>
      <ion-row class="ion-margin-top ion-padding-top">
        <ion-col>
          <h1>Book Your Appointment</h1>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">

        <ion-col sizeMd="7" sizeXs="12" class="appointmentForm ion-padding-start">
          
            <ion-row class="ion-align-items-center">
              <ion-col size="12">
                <h5>Select Your Schedule</h5>
              </ion-col>
              <!-- modal button calendar -->
              <ion-col size-md="2" size-xs="12" class="ion-justify-content-center">
                <ion-button fill="outline" class="ion-align-items-center" id="openCalendar">
                  <ion-icon name="calendar-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="2">
                <p>Date: --- </p>
              </ion-col>
              <ion-col size="2">
                <p>Time: --- </p>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
              <ion-col size="12" class="ion-margin-bottom">
                <h5>Enter Your Details</h5>
              </ion-col>
            <form [formGroup]="appointmentForm">
              <ion-col size-md="5" size-xs="12">
                <ion-item>
                  <ion-input label="First Name" labelPlacement="floating" type="text" formControlName="fname"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-md="5" size-xs="12">
                <ion-item>
                  <ion-input label="Last Name" labelPlacement="floating" type="text" formControlName="lname"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-md="5" size-xs="12">
                <ion-item>
                  <ion-input label="Email" labelPlacement="floating" type="email" formControlName="email"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6"></ion-col>
              <ion-col size-md="5" size-xs="12">
                <ion-item>
                  <ion-input label="Mobile Number" labelPlacement="floating" type="tel" formControlName="mobileNum"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6"></ion-col>
              <ion-col size-md="5" size-xs="12">
                <ion-item>
                  <ion-select label="Event" interface="popover" justify="space-between">
                    <ion-item>
                      <ion-select-option value="1">1</ion-select-option>
                    </ion-item>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </form>

            </ion-row>
          
        </ion-col>
        <ion-col sizeMd="5" sizeXs="12" class="appointmentDetails" >

          <!-- Swp details and logo -->
          <ion-row class="ion-align-items-center">
            <ion-col size="3" push="1">
              <img src="../../../assets/swp.jpg" width="90px" alt="logo-swp" class="swp">
            </ion-col>
            <ion-col size="6" push="1">
              <h6>Shepherd The Wedding Planner</h6>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="9" push="1">
              <ion-item>
                <ion-icon size="small" name="location" slot="start"></ion-icon>
                <ion-label>--:--</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="9" push="1">
              <ion-item>
                <ion-icon size="small" name="time" slot="start"></ion-icon>
                <ion-label>--:--</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="9" push="1">
              <ion-item>
                <ion-icon size="small" name="calendar" slot="start"></ion-icon>
                <ion-label>--:--</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="9" push="1">
              <ion-item>
                <ion-icon size="small" name="person" slot="start"></ion-icon>
                <ion-label>--:--</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="9" push="1">
              <ion-item>
                <ion-icon size="small" name="mail" slot="start"></ion-icon>
                <ion-label>--:--</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="9" push="1">
              <ion-item>
                <ion-icon size="small" name="call" slot="start"></ion-icon>
                <ion-label>--:--</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="9" push="1">
              <ion-item>
                <ion-icon size="small" name="restaurant" slot="start"></ion-icon>
                <ion-label>--:--</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Book Appointment Button -->
          <ion-row class="bookcolbtn">
            <ion-col size="8" push="1">
              <ion-button class="bookbtn">Book Appointment</ion-button>
            </ion-col>
          </ion-row>
       
        </ion-col>

      </ion-row>

    </ion-grid>
  
      <!-- footer -->
  <app-footer></app-footer>
</ion-content>


