ion-datetime {
    width: 100%;
}

.close-button-container {
    display: flex;
    justify-content: flex-end;
    // padding: 10px;
}
  
.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-button {
    background: rgb(78, 116, 240);
    color: white;
  }
  

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-button.available {
    background-color: green;
    color: white;
  }
  
  .centered-button.active {
    background-color: darkgreen;
  }
  
  /* Adjust the styles according to your needs */
  .disabled {
    pointer-events: none; /* Disable click events */
    opacity: 0.5; /* Reduce opacity to indicate disabled state */
  }

  .disabled-datetime .datetime-picker-calendar-month .selected-date {
    background-color: red;
  }
  
  @media (max-width: 759px) {
    ion-datetime{
      margin: 0 auto;
    }
  }