<ion-content class="modaldesign">
  <div class="close-button-container">
    <ion-button (click)="closeModal()" fill="clear" class="close-button">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>

  <ion-grid>
    <ion-row>

      <!-- Calendar for Appointment -->
      <ion-col size="6" size="6" sizeMd="6" sizeXs="12">
        <ion-col size="12" class="ion-text-center">
          <h4>Date</h4>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" sizeSm="12" size sizeXs="12" class="ion-justify-content-center ion-align-items-center">
          <div class="calendar">
            <ion-datetime
              #datetime
              presentation="date"
              [isDateEnabled]="currentMonth"
              (ionChange)="onDateChange($event)"
              [(ngModel)]="selectedDate"
              [highlightedDates]="highlightedDates"
            ></ion-datetime>
          </div>
          <ion-row class="ion-justify-content-evenly ion-margin-bottom ion-padding-bottom">
            <ion-button color="danger" (click)="clearSelection()">Clear</ion-button>
            <ion-button color="primary" (click)="confirmSelection()">Confirm</ion-button>
          </ion-row>
        </ion-col>
      </ion-col>

      <!-- Time for Appointment -->
      <ion-col size="6" sizeMd="6" sizeXs="12" >
        <ion-col size="6" class="ion-text-center">
          <h4>Time</h4>
        </ion-col>
        <ion-col size="12" sizeMd="6" sizeXs="12" *ngIf="availableTimes.length > 0 && availableTimes[0].time.includes(':')">
          <ion-list *ngFor="let availableTime of availableTimes" class="ion-justify-content-center">
            <ion-button
              [disabled]="availableTime.disabled"
              fill="outline"
              expand="block"
              (click)="onTimeButtonClick(availableTime.time)"
              [class.active-button]="availableTime.time === activeTime"
            >
              {{ availableTime.time }}
            </ion-button>
          </ion-list>
        </ion-col>
      </ion-col>

      <ion-col size="7">
        <ion-item>
          <!-- <ion-icon name="ellipse" size="small" color="success"></ion-icon>
          <ion-label>Available</ion-label> -->
          <ion-icon name="ellipse" size="small" color="danger"></ion-icon>
          <ion-label>Reserved</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
