ion-datetime {
    width: 100%;
}

.close-button-container {
    display: flex;
    justify-content: flex-end;
    // padding: 10px;
}
  
.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    --background: blue;
    --color: white;
}