ion-content {
    --background: transparent;
  }
  
  .login-modal-content {
    background-color: #fff;
    max-width: 500px;
    margin: auto;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  .or-container {
    display: flex;
    align-items: center;
    // margin: 20px 0;
  }
  
  .or-line {
    flex-grow: 1;
    background-color: #ccc;
    height: 1px;
  }
  
  .or-text {
    padding: 0 10px;
    font-size: 14px;
    color: #999;
  }
  
  #signup {
    text-align: center;
    margin-top: 20px;
  
    a {
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
    }
  }
  
  .close-button-container {
    display: flex;
    justify-content: flex-end;
    // padding: 10px;
  }