@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

ion-grid {
    --ion-grid-padding: 0;
}

.image-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .image-container img {
//   filter: brightness(1);
// }

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
  z-index: 1;
}

// .bordered-div {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 38%;
//   height: 80%;
//   border-radius: 0% 100% 100% 0% / 0% 100% 0% 100% ;
//   background-color: rgba(165,126,87,50);
//   z-index: 2;
// }

  
.full-height-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

// .cover-title {
//     text-align: center;
//     color: black;
//     z-index: 1;
//   }

//   .cover-title h1 {
//     font-size: 32px;
//   }

//   .cover-title h2 {
//     font-size: 26px;
//   }
  

  /* Add these styles to your existing CSS */

.cover-title {
  text-align: center;
  color: #fff;
  z-index: 1;
}

.cover-title h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  // color: rgba(248, 88, 48, 0.694);
}

.cover-title h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.cover-title p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
}


.slider-container {
  width: 400px;
  height: 300px;
  perspective: 1000px;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s;
}

ion-row {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5D5A88;
}

ion-row.location {
  height: 50vh;
}

.info {
  position: relative;
  width:100%;
}

#background {
  position: absolute;
  width: 100vw;
  height: 50%;
  background-color: #FAFAFF; /* Adjust the opacity as needed */
  z-index: 0;
}

#img1 {
  position: absolute;
  bottom: -100px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  // border: 1px solid red;
}
#img2 {
  position: absolute;
  // border: 1px solid green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  top: -30px;
  left: 50px;
}

#ltby {
  font-size: 40px;
  color: #5D5A88;
  text-transform: uppercase;
  font-weight: bold;
}

.info p {
  color: #5D5A88;
}

.title-h1 {
  font-size: 36px;
  font-weight: bold;
}

ion-item ion-label {
  --color: #5D5A88;
  font-weight: bold;
}
