@media(min-width: 820px) {
    .bookappbtn {
        display: inline-block;
    }
    ion-fab {
        display: none;
    }
}
@media(max-width: 820px) {
    .bookappbtn {
        display: none;
    }
    ion-fab {
        display: block;
        ion-button {
            --background: rgb(248, 89, 48, 0.8);
            --color: #fff;
        }
    }
}

.flex-container {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 80%;
}

ion-item {
    --border-style: none;
    ion-input{
        font-size: small;
    }
}
  
.list-appointment {
    display:flex;
    align-items: center;
}

.bookappbtn {
    --background: rgb(248, 89, 48, 0.8);
    --color: #fff;
}

.list-appointment {
    display:flex;
    align-items: center;
}

ion-card-header.appointment-header {
    width: 90%;

    ion-button {
        padding: 10px;
    }
}

.danger {
    --background: var(--ion-color-danger);
    --color: var(--ion-color-light);
    --border-color: var(--ion-color-danger);
}
.success {
    --background: var(--ion-color-success);
    --color: var(--ion-color-light);
    --border-color: var(--ion-color-success);
}