<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding" fixed>
    <ion-row>
      <ion-col size="12"></ion-col>
    </ion-row>
    <ion-row class="ion-align-items-end ion-margin-top ion-padding-top">
      <ion-col size="6">
        <h1>Appointment</h1>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button size="small" routerLink="/menulogin/bookappointment" class="bookappbtn">
          Book Appointment
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="12" size-xs="12" *ngFor="let appointment of appointments">
        <ion-card class="list-appointment">
          <ion-card-header class="appointment-header">
            <ion-card-title>{{ appointment.appointmentData.firstName }} {{ appointment.appointmentData.lastName }}</ion-card-title>
            <ion-card-subtitle>
              <div class="flex-container">
                <div class="flex-column">
                  <ion-item>
                    <ion-input label="Location" labelPlacement="stacked" value="Q38F+C5Q Don Florencio Village, Gov. Antonio Carpio Rd, Batangas, 4200 Batangas" readonly></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="Event" labelPlacement="stacked" value="{{ appointment.appointmentData.event }}" readonly></ion-input>
                  </ion-item>
                </div>
                <div class="flex-column">
                  <ion-item>
                    <ion-input label="Date" labelPlacement="stacked" value="{{ appointment.appointmentData.date }}" readonly></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="Time" labelPlacement="stacked" value="{{ appointment.appointmentData.time }}" readonly></ion-input>
                  </ion-item>
                </div>
                <div class="flex-column">
                  <ion-item>
                    <ion-input label="Email" labelPlacement="stacked" value="{{ appointment.appointmentData.email }}" readonly></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="Mobile Number" labelPlacement="stacked" value="{{ appointment.appointmentData.mobileNumber }}" readonly></ion-input>
                  </ion-item>
                </div>
                <div class="flex-column">
                  <ion-item>
                    <ion-input label="Status" labelPlacement="stacked" value="{{ appointment.appointmentData.status }}" readonly></ion-input>
                  </ion-item>
                </div>
              </div>
            </ion-card-subtitle>
          </ion-card-header>
          
          <ion-button (click)="cancelAppointment(appointment)"
          [class.danger]="appointment.appointmentData.status === 'cancelled'"
          [class.success]="appointment.appointmentData.status === 'completed'"
          size="small" fill="outline" [disabled]="appointment.appointmentData.status === 'completed'">
          {{appointment.appointmentData.status === 'cancelled' ? 'Cancelled' : (appointment.appointmentData.status === 'completed' ? 'Completed' : 'Cancel')}}
        </ion-button>
                 
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-padding">
  <ion-fab-button routerLink="/menulogin/bookappointment">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


  <!-- footer -->
  <!-- <app-footer></app-footer> -->

</ion-content>



