<ion-content class="modaldesign">

  <!-- <div class="close-button-container">
    <ion-button (click)="cancel()" fill="clear" class="close-button">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div> -->

  <div class="signup-modal-content">

    <!-- <div id="logo">
      <img src="../../assets/swp.jpg" alt="swp-logo">
    </div> -->

    <h1>Create an Account</h1>

    <form [formGroup]="signupForm">

      <ion-grid>
        <ion-row>
          <ion-col sizeMd="6" sizeXs="12">
            <ion-input type="text" label="First Name" labelPlacement="floating" fill="outline"></ion-input>
          </ion-col>
          <ion-col sizeMd="6" sizeXs="12">
            <ion-input type="text" label="Last Name" labelPlacement="floating" fill="outline"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>  
          <ion-col>
            <ion-input type="number" label="Mobile Number" labelPlacement="floating" fill="outline"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input 
              type="email" 
              label="Email" 
              labelPlacement="floating" 
              fill="outline" formControlName="email" 
              clearInput
              required>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input 
              type="password" 
              label="Password" 
              labelPlacement="floating" 
              fill="outline" 
              formControlName="password"
              clearInput
              required >
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

    </form>
    
    <ion-button expand="block" color="primary" (click)="signup()">Signup</ion-button>

    <div class="or-container">
      <div class="or-line"></div>
      <div class="or-text">or singup with</div>
      <div class="or-line"></div>
    </div>
    
    <ion-button expand="block" color="danger"><ion-icon name="logo-google"></ion-icon>Google</ion-button>

    <p id="signup">Already signed up? <a [routerLink]="['/login']">Login</a></p>

  </div>

</ion-content>
